<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
     <!--icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
<!-- Page-specific CSS -->
    <link rel="stylesheet" href="profile.css">

    
    

    <!-- Page-specific code -->
    <script src="/auth.js"></script>
    <script>
        if (isLoggedIn() === false) window.location.replace("/");
    </script>
   
  </head>
  <body>
 <div  class="header">
  <img src="https://mcdn.wallpapersafari.com/medium/24/52/JOVreY.jpg"width="1500px" height="450px" alt="horizon"> 
  
 </div>
    
    <header>
      
      <!--profile info/pic-->
     <h1> <div class="container">
        <div style="position:relative; right: 80px; bottom: 100px;" class="container" class="box">
          <img src="https://mcdn.wallpapersafari.com/medium/54/87/3jG7Yb.jpg" width="120px" height="120px" class="image2">
        </h1>
        
        </div>
        <div style="position:relative; bottom: 100px; color:white ;" class="Tony Stark">
          <ul>
            <h1>Tony Stark</h1> 
            <p>@tstark300</p>
        </div>
        <div class="container2">
        <div style="position:relative; left:30px; bottom: 80px; color: white; ">
              <p>Genius. Billionaire. Philanthropist. Sarcastic. Egomaniac. Iron Man. That's what most people know me as but outside of my spectatcular armor made by your's truly and outside of the Armani Exchange suit's I'm just another man who appreciate's life for what it is.</p></div>
            </ul>

            <ul>
               <!--Blog post box-->
              <section id="app">
                <div style="position:relative; bottom:50px; left:40px" 
                class="container1">
                  <div class="row">
                    <div class="col-6">
                      <div class="thoughts">
                    <p v-for="items in item" v-text="items"></p>
                      </div>
                      </div>
                      </div>
                  <div class="row">
                    <div class="col-6">
                  <textarea type="text" class="input" placeholder="Tell us what you're thinking!" v-model="newItem" @keyup.enter="addItem()"></textarea>
                      <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Thoughts Here</button>
                    </div>
                  </div>
                </div>
              </section>
                

              <!-- place navbar here -->
              <div  id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="http://127.0.0.1:5500/profile/profile.html#">Profile</a>
                <a href="http://127.0.0.1:5500/posts/index.html">Post</a>
           </a>
                <input type="button" value="Logout"  id="go">            

              </div>
              
              <div id="main">
                <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>

              </div>
              
              
               



    </header>
    <main></main>
    <footer>
      <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>


    <!-- Page-specific code -->
    <script src="profile.js"></script>

 
  </body>
</html>
